html(ng-app="indexapp")
	head
		title 属灵圈子
		link(rel="icon", href="/images/web_icon.jpg", type="image/jpg")
		script(src="/javascripts/angular.js")
		script(src="/javascripts/bootstrap.js")
		script(src="/javascripts/index/index.js")
		link(rel="stylesheet", type="text/css", href="/stylesheets/bootstrap.min.css")
		link(rel="stylesheet", type="text/css", href="/stylesheets/customer.css")
	body(ng-controller="IndexController")
		include ./public/header.jade
		div.container
			div.col-md-10.col-md-push-1(style="padding-top:30px")
				div.col-md-10
					div.panel.panel-success
						div.panel-heading 代祷事项录入
						div.panel-body 
							form
								div.form-group
									input.form-control(ng-model="name", placeholder="姓名")
									br
									textarea.form-control(ng-model="content", placeholder="代祷内容")
									br
									input.form-control(type="date", ng-model="date")
									br
									input(type="button", value="提交", ng-click="insertRecord()", ng-class="submitClass")
					div.panel.panel-success
						div.panel-heading 大家代祷事项
						div.panel-body(ng-init="getPrayRecords()")
							div.list-group
								a.list-group-item(ng-repeat="prayRecord in prayData | orderBy:date ")
									h4.list-group-item-heading {{prayRecord.name}}
									br
									p.list-group-item-text {{prayRecord.content}}
									br
									p.list-group-item-text {{prayRecord.date.substring(0, 10)}}

				