html(ng-app="indexapp")
	head
		title 属灵圈子
		link(rel="icon", href="/images/web_icon.jpg", type="image/jpg")
		script(src="/javascripts/angular.js")
		script(src="/javascripts/bootstrap.js")
		script(src="/javascripts/index/index.js")
		link(rel="stylesheet", type="text/css", href="/stylesheets/bootstrap.min.css")
		link(rel="stylesheet", type="text/css", href="/stylesheets/customer.css")
	body(ng-controller="IndexController", ng-init="getPrayRecords()")
		include ./public/header.jade
		div.container
			script(id="confirmAdd.html", type="text/ng-template")
				div.modal-header 
					h3.modal-title 确认提交
				div.modal-body
					{{submitObject.name}}
					p
					{{submitObject.content}}
					p
					{{submitObject.date}}
				div.modal-footer
					button.btn.btn-primary(type="button", ng-click="ok()") 确定
					button.btn.btn-primary(type="button", ng-click="cancel()") 取消
			div.col-xd-10.col-xd-push-1(style="padding-top:30px")
				div.col-xd-10
					div.panel.panel-success
						div.panel-heading 代祷事项录入
						div.panel-body 
							form
								div.form-group
									input.form-control(ng-model="name", placeholder="姓名")
									br
									textarea.form-control(ng-model="content", placeholder="代祷内容")
									br
									input.form-control(type="date", ng-model="date")
									br
									input(type="button", value="提交", ng-click="insertRecord()", ng-class="submitClass")
					div.panel.panel-success
						div.panel-heading 大家代祷事项
						div.panel-body
							div.list-group
								a.list-group-item(ng-repeat="prayRecord in prayData ")
									{{prayRecord.name}}
									p
									{{prayRecord.content}}

				